# create a series object from a python list

In [ ]:
import pandas as pd

In [ ]:
ice_cream=['chocolates','vanila','strawberry','rum rasian']

pd.Series(ice_cream)

In [3]:
lottery=[4,6,8,12]

pd.Series(lottery)

0     4
1     6
2     8
3    12
dtype: int64

In [4]:
registeration=[True,False,False,False,True]

pd.Series(registeration)

0     True
1    False
2    False
3    False
4     True
dtype: bool

# create a series object from a python dictionary

In [5]:
sushi={
    'salman':'orange',
    'tuna':'red',
    'eel':'brown'
}

pd.Series(sushi)

salman    orange
tuna         red
eel        brown
dtype: object

# intro to methods

In [6]:
'hello'.upper()

'HELLO'

In [7]:
values=[1,2,3]
values.append(4)
values

[1, 2, 3, 4]

In [8]:
prices=pd.Series([33.6,77.2,78.3,1.25])
prices

0    33.60
1    77.20
2    78.30
3     1.25
dtype: float64

In [9]:
prices.sum()

190.35000000000002

In [10]:
prices.product()

253879.91999999998

In [11]:
prices.mean()

47.587500000000006

# intro to attributes

In [12]:
adjectives=pd.Series(['smart','handsome','charming','brilliant','humble'])
adjectives

0        smart
1     handsome
2     charming
3    brilliant
4       humble
dtype: object

In [13]:
adjectives.size

5

In [14]:
type(adjectives.size)

int

In [15]:
adjectives.is_unique

True

In [16]:
type(adjectives.is_unique)

bool

In [17]:
adjectives.values

array(['smart', 'handsome', 'charming', 'brilliant', 'humble'],
      dtype=object)

In [18]:
type(adjectives.values)

numpy.ndarray

In [19]:
adjectives.index

RangeIndex(start=0, stop=5, step=1)

In [20]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

In [21]:
adjectives.dtype

dtype('O')

methods need paranthesis=sum(),count(),mean()
attributes =it just gives information about the object---example=size,is_unique,dtype

# parameters and arguments

parameter-the name we give to an expected input
argument-the concrete value that we provide to a parameter

difficulty- easy,medium,hard---- here difficulty is parameter , (easy,medium,hard)-argument
volume- 1 to 5
subtitles- true,false

In [40]:
fruits=['apple','plum','bluebery','grape','orange']
weekdays=['monday','wednesday','tuesday','friday','thursday']

pd.Series(fruits,weekdays)
pd.Series(fruits,index=[1,2,3,4,5])
pd.Series(data=fruits,index=weekdays,name='notes')

monday          apple
wednesday        plum
tuesday      bluebery
friday          grape
thursday       orange
Name: notes, dtype: object

# import series with the pd.read_csv function

pokemon=pd.read_csv('pokemon.csv' ,usecols=['Pokemon']).squeeze()
pokemon

google=pd.read_csv('google_stock_price.csv', usecols=['Stock Price']).squeeze()
google

# the head and tail method on a series

In [ ]:
pokemon=pd.read_csv('pokemon.csv' ,usecols=['Pokemon']).squeeze()

In [ ]:
google=pd.read_csv('google_stock_price.csv', usecols=['Stock Price']).squeeze()

In [ ]:
pokemon.head()
pokemon.head(2)
pokemon.head(n=3)

In [ ]:
pokemon.tail(5)
pokemon.head(n=2)

# passing series to python's built-in functions

In [ ]:
pokemon=pd.read_csv('pokemon.csv' ,usecols=['Pokemon']).squeeze()

In [ ]:
google=pd.read_csv('google_stock_price.csv', usecols=['Stock Price']).squeeze()

In [ ]:
len(pokemon)

In [ ]:
type(pokemon)

In [ ]:
dir(pokemon)
sorted(pokemon)
type(sorted(pokemon))
list(pokemon)
dict(pokemon)
max(google)
min(google)
max(pokemon)
min(pokemon)

# the sort values method

In [ ]:
pokemon.sort_values()
pokemon.sort_values().head(2)
pokemon.sort_values(ascending=False)
google.sort_values(ascending=True)

# the sort index method

In [ ]:
pokemon=pd.read_csv('pokemon.csv',index_col='Pokemon').squeeze()

In [ ]:
pokemon.sort_index(ascending=True)

# check for inclusion with python's in keyword

In [ ]:
pokemon=pd.read_csv('pokemon.csv',usecols=['Pokemon']).squeeze()
pokemon.head()

In [ ]:
'car' in 'racecar'

In [ ]:
1 in [1,2,3]

In [ ]:
'Bulbasaur' in pokemon

why false the Bulbasaur is present in pokemon. it is because ,in series the in keyword defaultly goes and check the index so it gives false

In [ ]:
2 in pokemon
pokemon.index

In [ ]:
2 in pokemon.index

In [ ]:
pokemon.values

In [ ]:
'Bulbasaur' in pokemon.values

# extract series value by index position

In [ ]:
pokemon=pd.read_csv('pokemon.csv',usecols=['Pokemon']).squeeze()
pokemon.head()

In [ ]:
# pokemon[0]
pokemon[600]

#pokemon[1000]-----it gives u a value error

#indexing
pokemon[[1,2,3]]

#slicing
pokemon[0:5:2]

pokemon[700:]

#pokemon[-1]---- it gives you a value error

pokemon[-20:-10]
pokemon[-10: ]

# extract series value by index label

In [ ]:
pokemon=pd.read_csv('pokemon.csv',index_col='Pokemon').squeeze()
pokemon.head()

In [ ]:
pokemon[0]           #---------------through index position
print(pokemon[[50,61]])
pokemon['Ivysaur']   #-------through index label

In [ ]:
pokemon[['Ivysaur','Charmander'] ]

in below code i changed the index column to show you that if the index column conatain duplicates it shows all the values associated with it not the first occurs

In [ ]:
pokemon=pd.read_csv('pokemon.csv',index_col='Type').squeeze()
pokemon

In [ ]:
pokemon[['Grass','Fire']]

# the get method on series

In [27]:
pokemon=pd.read_csv('pokemon.csv',index_col='Pokemon').squeeze()

In [35]:
pokemon.get(0)
pokemon.get('Charmander')
pokemon.get([4,32])
pokemon.get(['Ivysaur','Charmander'])
#pokemon['ludo']    #--------------------it gives you the key error because the passed value was not there
pokemon.get('ludo')  # ------------------ it does nt gives you the key error if the value was not present

In [37]:
print(pokemon.get('ludo', 'not exist'))

not exist

In [39]:
pokemon.get([1,1000],'not exist')
pokemon.get(['Ivysaur','Charmander','ludo'],'notexist')

'notexist'

# overwrite a series value

In [41]:
pokemon=pd.read_csv('pokemon.csv',index_col='Pokemon').squeeze()

In [47]:
pokemon[0]='fire'
pokemon[0]
pokemon[0]='grass'
pokemon[0]

'grass'

In [54]:
#pokemon[[1,2,3]]=['free','nopower','freefire']
#pokemon.head(3)

# the copy method

here in the copy method we are creating a copy of the data frame ,
for what reason if you change anything in the copy it wont change the original data frame 

but if you load original df variable with another variable it will act as a view, the changes occurs in one variable affect another to

In [63]:
pokemon_df=pd.read_csv('pokemon.csv',usecols=['Pokemon'])
pokemon_series=pokemon_df.squeeze()
pokemon_series

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [67]:
pokemon_series[0]= 'dragon'
pokemon_series
pokemon_df
#so the changes occurs in both variables because it act as a view for avoiding this we use copy method

        Pokemon
0        dragon
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [70]:
pokemon_series_copy[0]= 'dragon'
pokemon_df

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [68]:
pokemon_df=pd.read_csv('pokemon.csv',usecols=['Pokemon'])
pokemon_series_copy=pokemon_df.squeeze().copy()
pokemon_series_copy

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

# the inplace parameter

In [106]:
google=pd.read_csv("google_stock_price.csv",usecols=['Stock Price']).squeeze()
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [108]:
#google.sort_values(inplace=True)  #------ it gives you a value error

In [103]:
google=pd.read_csv("google_stock_price.csv",usecols=['Stock Price']).squeeze().copy()
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

the dis advantage of inplace method  is it consumes more memory because it creates new memory for the sorted values.

In [104]:
google.sort_values(inplace=True)

In [105]:
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

# math method on series object

In [110]:
google=pd.read_csv("google_stock_price.csv",usecols=['Stock Price']).squeeze()

In [123]:
google.count()
google.sum()
google.mean()
google.product()
google.std()
google.min()
google.max()
google.median()
google.mode()
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

# broadcasting

In [126]:
google=pd.read_csv("google_stock_price.csv",usecols=['Stock Price']).squeeze()
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [133]:
google + 5
google - 5
google *2
google.add(2)

0        52.12
1        56.10
2        56.65
3        54.38
4        54.95
         ...
3007    774.88
3008    773.07
3009    775.18
3010    773.61
3011    784.22
Name: Stock Price, Length: 3012, dtype: float64

# the value _counts method

In [134]:
pokemon=pd.read_csv('pokemon.csv',index_col='Pokemon').squeeze()

In [144]:
pokemon.value_counts()
pokemon.value_counts(ascending=True)
pokemon.value_counts(ascending=True).head()
pokemon.value_counts(sort=False)
pokemon.value_counts(normalize=True)
pokemon.value_counts(normalize=True)* 100

Water       14.563107
Normal      12.898752
Grass        9.153953
Bug          8.737864
Fire         6.518724
Psychic      6.518724
Rock         5.686546
Electric     4.993065
Ground       4.160888
Poison       3.883495
Dark         3.883495
Fighting     3.467406
Dragon       3.328710
Ghost        3.190014
Ice          3.190014
Steel        3.051318
Fairy        2.357836
Flying       0.416089
Name: Type, dtype: float64

# the apply method

In [145]:
pokemon=pd.read_csv('pokemon.csv',index_col='Pokemon').squeeze()

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

apply ask for function or function name as an argument  not an integer or str

In [148]:
pokemon.apply(len)  #-----built-in function

Pokemon
Bulbasaur     5
Ivysaur       5
Venusaur      5
Charmander    4
Charmeleon    4
             ..
Yveltal       4
Zygarde       6
Diancie       4
Hoopa         7
Volcanion     4
Name: Type, Length: 721, dtype: int64

In [156]:
def rank_pokemon(pokemon_type):       #------custom function name
    if pokemon_type in ['Grass','Fire','']:
        return 'classic'
    elif pokemon_type =='Psychic':
        return 'boring'
    else:
        return 'tbb'

In [157]:
pokemon.apply(rank_pokemon)

Pokemon
Bulbasaur     classic
Ivysaur       classic
Venusaur      classic
Charmander    classic
Charmeleon    classic
               ...
Yveltal           tbb
Zygarde           tbb
Diancie           tbb
Hoopa          boring
Volcanion     classic
Name: Type, Length: 721, dtype: object

# the map method

In [161]:
pokemon=pd.read_csv('pokemon.csv',index_col='Pokemon').squeeze()
pokemon

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [164]:
mapping={  'Grass' : 'ok',
            'Fire' : 'harm',
          'Dragon' : 'old',
           'Dark'  : 'black'
    }
mapping_series=pd.Series(mapping)
mapping_series

Grass        ok
Fire       harm
Dragon      old
Dark      black
dtype: object

In [165]:
pokemon.map(mapping_series)

Pokemon
Bulbasaur        ok
Ivysaur          ok
Venusaur         ok
Charmander     harm
Charmeleon     harm
              ...
Yveltal       black
Zygarde         old
Diancie         NaN
Hoopa           NaN
Volcanion      harm
Name: Type, Length: 721, dtype: object

map takes values from dictionary and series object