In [1]:
import pandas as pd
import datetime as dt

# review of pythons datetime module

In [2]:
someday=dt.date(2010,1,20)

In [3]:
someday.year
someday.day
someday.month

1

In [4]:
sometime=dt.datetime(2010,1,20,8,15,45,34)

In [5]:
sometime.day
sometime.hour
sometime.minute
sometime.second
sometime.microsecond
sometime.time

In [6]:
str(sometime)

'2010-01-20 08:15:45.000034'

In [7]:
str(someday)

'2010-01-20'

# pandas timestamp object

In [8]:
pd.Timestamp('2015-03-31')
pd.Timestamp('2015/03/31')
pd.Timestamp('2013,11,02')
pd.Timestamp('19/02/2009')
pd.Timestamp('31/12/2003')
pd.Timestamp('2021-03-08 08:35:15')
pd.Timestamp('2021-03-08 08:35:15 pm')

C:\Users\subha\AppData\Local\Temp\ipykernel_17100\2697809059.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.Timestamp('19/02/2009')
C:\Users\subha\AppData\Local\Temp\ipykernel_17100\2697809059.py:5: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.Timestamp('31/12/2003')

Timestamp('2021-03-08 20:35:15')

In [9]:
pd.Timestamp(dt.date(2021,3,8))

Timestamp('2021-03-08 00:00:00')

In [10]:
pd.Timestamp(dt.datetime(2021,3,8, 8,35,15))

Timestamp('2021-03-08 08:35:15')

# pandas datetime index object

In [11]:
dates=['2016-01-02','2016-04-12','2009-09-07']
type(pd.DatetimeIndex(dates))
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [12]:
dates=[dt.date(2016,1,10),dt.date(2001,6,13),dt.date(2003,12,29)]
dtindex=pd.DatetimeIndex(dates)

In [13]:
values=[100,200,300]
pd.Series(data=values,index=dtindex)

2016-01-10    100
2001-06-13    200
2003-12-29    300
dtype: int64

# pd.to_datetime method

In [14]:
pd.to_datetime('2001-01-19')
pd.to_datetime(dt.date(2015,1,1))
pd.to_datetime(dt.datetime(2015,1,1,14,34,20))
pd.to_datetime(['2015-01-03','2014/02/08','2016','july 4th 1998'])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1998-07-04'], dtype='datetime64[ns]', freq=None)

In [15]:
times=pd.Series(['2015-01-03','2014/02/08','2016','july 4th 1998'])
times

0       2015-01-03
1       2014/02/08
2             2016
3    july 4th 1998
dtype: object

In [16]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1998-07-04
dtype: datetime64[ns]

In [17]:
dates=pd.Series(['july 4th 1998','10/03/1998','hello','2015-12-31'])

In [18]:
pd.to_datetime(dates,errors='coerce')

0   1998-07-04
1   1998-10-03
2          NaT
3   2015-12-31
dtype: datetime64[ns]

list of unix time

In [19]:
pd.to_datetime([1349720105,1349806505,1349892905,1349979305,1350065705],unit='s')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

# create range of dates with the pd. date_range method part 1

In [20]:
times=pd.date_range(start='2016-01-01',end='2016-01-10',freq='D')

In [21]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [22]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [23]:
pd.date_range(start='2016-01-01',end='2016-01-10',freq='2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [24]:
pd.date_range(start='2016-01-01',end='2016-01-10',freq='B')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [25]:
pd.date_range(start='2016-01-01',end='2016-01-10',freq='W')

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [26]:
pd.date_range(start='2016-01-01',end='2016-01-10',freq='W-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [27]:
pd.date_range(start='2016-01-01',end='2016-01-10',freq='H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [36]:
pd.date_range(start='2016-01-01',end='2016-01-10',freq='6H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [38]:
pd.date_range(start='2016-01-01',end='2016-12-31',freq='M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [39]:
pd.date_range(start='2016-01-01',end='2016-12-31',freq='MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [40]:
pd.date_range(start='2016-01-01',end='2050-12-31',freq='A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# create range of dates with the pd.date_range() method part 2

In [41]:
pd.date_range(start='2012-09-09',periods=25,freq='D')

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [42]:
pd.date_range(start='2012-09-09',periods=25,freq='W')

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [43]:
pd.date_range(start='2012-09-09',periods=25,freq='W-SUN')

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [44]:
pd.date_range(start='2012-09-09',periods=25,freq='M')

DatetimeIndex(['2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31',
               '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30',
               '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31',
               '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31',
               '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30',
               '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31',
               '2014-09-30'],
              dtype='datetime64[ns]', freq='M')

In [45]:
pd.date_range(start='2012-09-09',periods=25,freq='MS')

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01'],
              dtype='datetime64[ns]', freq='MS')

In [46]:
pd.date_range(start='2012-09-09',periods=25,freq='A')

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [47]:
pd.date_range(start='2012-09-09',periods=25,freq='H')

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 01:00:00',
               '2012-09-09 02:00:00', '2012-09-09 03:00:00',
               '2012-09-09 04:00:00', '2012-09-09 05:00:00',
               '2012-09-09 06:00:00', '2012-09-09 07:00:00',
               '2012-09-09 08:00:00', '2012-09-09 09:00:00',
               '2012-09-09 10:00:00', '2012-09-09 11:00:00',
               '2012-09-09 12:00:00', '2012-09-09 13:00:00',
               '2012-09-09 14:00:00', '2012-09-09 15:00:00',
               '2012-09-09 16:00:00', '2012-09-09 17:00:00',
               '2012-09-09 18:00:00', '2012-09-09 19:00:00',
               '2012-09-09 20:00:00', '2012-09-09 21:00:00',
               '2012-09-09 22:00:00', '2012-09-09 23:00:00',
               '2012-09-10 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [50]:
pd.date_range(start='2012-09-09',periods=25,freq='6H')

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

# create range of dates with the pd.date_range() method part 3

In [51]:
pd.date_range(end='1999-12-31',periods=20,freq='D')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range(end='1999-12-31',periods=20,freq='B')

DatetimeIndex(['1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [53]:
pd.date_range(end='1999-12-31',periods=20,freq='W-SUN')

DatetimeIndex(['1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [54]:
pd.date_range(end='1999-12-31',periods=20,freq='M')

DatetimeIndex(['1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
               '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30',
               '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31',
               '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='M')

In [55]:
pd.date_range(end='1999-12-31',periods=20,freq='MS')

DatetimeIndex(['1998-05-01', '1998-06-01', '1998-07-01', '1998-08-01',
               '1998-09-01', '1998-10-01', '1998-11-01', '1998-12-01',
               '1999-01-01', '1999-02-01', '1999-03-01', '1999-04-01',
               '1999-05-01', '1999-06-01', '1999-07-01', '1999-08-01',
               '1999-09-01', '1999-10-01', '1999-11-01', '1999-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [56]:
pd.date_range(end='1999-12-31',periods=20,freq='7H')

DatetimeIndex(['1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

# .dt accessor (to access dates ,month,year & filter from series)

In [57]:
bunch_of_dates=pd.date_range(start='2000-01-01',end='2010-12-31',freq='24D')

In [58]:
s=pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [59]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [60]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [61]:
mask=s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [62]:
mask1=s.dt.is_month_end
s[mask1]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

# import financial dataset with pandas_datareader library

In [63]:
from pandas_datareader import data

In [66]:
stocks=data.DataReader(name='MSFT',data_source='stooq',start='2010-01-01',end='2020-12-31')
stocks.head()

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07
2020-12-28  220.504  222.071  219.123  221.010  1.825327e+07
2020-12-24  217.545  219.689  217.326  218.855  1.073870e+07

In [71]:
stocks.values
stocks.columns
stocks.index
stocks.axes

[DatetimeIndex(['2020-12-31', '2020-12-30', '2020-12-29', '2020-12-28',
                '2020-12-24', '2020-12-23', '2020-12-22', '2020-12-21',
                '2020-12-18', '2020-12-17',
                ...
                '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
                '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
                '2010-01-05', '2010-01-04'],
               dtype='datetime64[ns]', name='Date', length=2769, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

# select rows from a dataframe using datetimeindex

In [72]:
stocks=data.DataReader(name='MSFT',data_source='stooq',start='2010-01-01',end='2020-12-31')
stocks.head()

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07
2020-12-28  220.504  222.071  219.123  221.010  1.825327e+07
2020-12-24  217.545  219.689  217.326  218.855  1.073870e+07

In [80]:
stocks.loc['2010-01-04']

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [79]:
stocks.loc[pd.Timestamp('2010-01-04')]

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [91]:
stocks.iloc[0]
stocks.iloc[500]
stocks.iloc[-1]

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [90]:
#stocks.loc['2021-01-01']
#stocks.iloc[10000]

choosing multiple rows from a dara frame

In [97]:
stocks.loc[['2010-01-04','2010-01-05']]

               Open     High      Low    Close        Volume
Date
2010-01-04  24.0854  24.4389  24.0358  24.3178  4.886916e+07
2010-01-05  24.2542  24.4389  24.0765  24.3267  6.331174e+07

In [96]:
stocks.loc[[pd.Timestamp('2010-01-04'),pd.Timestamp('2010-01-05')]]

               Open     High      Low    Close        Volume
Date
2010-01-04  24.0854  24.4389  24.0358  24.3178  4.886916e+07
2010-01-05  24.2542  24.4389  24.0765  24.3267  6.331174e+07

In [103]:
stocks.iloc[[9,8,67]]

               Open     High      Low    Close        Volume
Date
2020-12-17  216.005  217.018  214.100  215.578  3.309557e+07
2020-12-18  214.755  215.848  212.233  214.755  6.448461e+07
2020-09-25  199.446  204.828  198.484  203.646  3.004065e+07

In [100]:
#stocks.loc[[pd.Timestamp('2010-01-04'),pd.Timestamp('2010-01-05'),pd.Timestamp('2021-01-05')]] #--if one doesnt exist it causes error
#stocks.iloc[10,20,20000]                                                                       #--if one doesnt exist it causes error

In [104]:
stocks.loc['2010-01-04':'2010-01-09']

               Open     High      Low    Close        Volume
Date
2010-01-08  23.7837  24.2642  23.7608  24.0934  6.515561e+07
2010-01-07  24.0537  24.1232  23.7221  23.9257  6.434577e+07
2010-01-06  24.2642  24.4230  23.9852  24.1758  7.403254e+07
2010-01-05  24.2542  24.4389  24.0765  24.3267  6.331174e+07
2010-01-04  24.0854  24.4389  24.0358  24.3178  4.886916e+07

In [106]:
stocks.truncate(before='2010-01-04',after='2010-01-09')

               Open     High      Low    Close        Volume
Date
2010-01-08  23.7837  24.2642  23.7608  24.0934  6.515561e+07
2010-01-07  24.0537  24.1232  23.7221  23.9257  6.434577e+07
2010-01-06  24.2642  24.4230  23.9852  24.1758  7.403254e+07
2010-01-05  24.2542  24.4389  24.0765  24.3267  6.331174e+07
2010-01-04  24.0854  24.4389  24.0358  24.3178  4.886916e+07

In [107]:
stocks.iloc[1000:1005]

               Open     High      Low    Close        Volume
Date
2017-01-11  57.6727  58.2436  57.5069  58.2079  2.218117e+07
2017-01-10  57.7830  58.0976  57.3689  57.6816  1.849459e+07
2017-01-09  57.8097  58.1075  57.6073  57.7015  2.018532e+07
2017-01-06  57.3868  58.1701  57.1456  57.8842  1.907929e+07
2017-01-05  57.2856  57.7193  57.1357  57.3868  2.318354e+07

In [121]:
birthdays=pd.date_range(start='1998-04-01',end='2019-12-09',freq=pd.DateOffset(years=1))

In [129]:
bdaystocks=stocks.index.isin(birthdays)
stocks[bdaystocks]
stocks.loc[bdaystocks]

                Open      High       Low     Close        Volume
Date
2019-04-01  114.4450  114.5950  113.6120  114.5050  2.368662e+07
2016-04-01   49.7068   50.2151   49.2769   50.1784  2.528095e+07
2015-04-01   35.7128   35.8298   35.4328   35.7941  4.194027e+07
2014-04-01   35.2114   35.5976   35.1518   35.4516  3.809911e+07
2013-04-01   23.8115   23.8293   23.5782   23.7847  3.512278e+07
2011-04-01   20.0469   20.0618   19.8872   20.0211  8.026090e+07
2010-04-01   23.0619   23.2089   22.4861   22.9120  9.513903e+07

in below code we are finding whether 2012-04-01 is sunday or not

In [128]:
pd.date_range(start='2012-01-01',end='2012-05-01',freq='W-SUN')

DatetimeIndex(['2012-01-01', '2012-01-08', '2012-01-15', '2012-01-22',
               '2012-01-29', '2012-02-05', '2012-02-12', '2012-02-19',
               '2012-02-26', '2012-03-04', '2012-03-11', '2012-03-18',
               '2012-03-25', '2012-04-01', '2012-04-08', '2012-04-15',
               '2012-04-22', '2012-04-29'],
              dtype='datetime64[ns]', freq='W-SUN')

# timestamp objects attributes and methods

In [130]:
stocks=data.DataReader(name='MSFT',data_source='stooq',start='2010-01-01',end='2020-12-31')
stocks.head()

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07
2020-12-28  220.504  222.071  219.123  221.010  1.825327e+07
2020-12-24  217.545  219.689  217.326  218.855  1.073870e+07

In [135]:
stocks.index
someday=stocks.index[500]
someday

Timestamp('2019-01-08 00:00:00')

timestamp attributes

In [140]:
someday.month
someday.day
someday.year
someday.day_name
someday.is_month_end
someday.is_quarter_start

False

timestamp methods

In [143]:
someday.month_name()
someday.day_name()

'Tuesday'

In [144]:
stocks.index.day_name()

Index(['Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Thursday', 'Wednesday',
       'Tuesday', 'Monday', 'Friday', 'Thursday',
       ...
       'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Friday',
       'Thursday', 'Wednesday', 'Tuesday', 'Monday'],
      dtype='object', name='Date', length=2769)

In [145]:
stocks.insert(0,'day of week',stocks.index.day_name())

In [146]:
stocks

           day of week      Open      High       Low     Close        Volume
Date
2020-12-31    Thursday  217.8220  219.1040  215.8380  218.5280  2.131555e+07
2020-12-30   Wednesday  221.2770  221.6740  217.5950  217.8020  2.063381e+07
2020-12-29     Tuesday  222.3500  223.2140  219.6590  220.2050  1.771353e+07
2020-12-28      Monday  220.5040  222.0710  219.1230  221.0100  1.825327e+07
2020-12-24    Thursday  217.5450  219.6890  217.3260  218.8550  1.073870e+07
...                ...       ...       ...       ...       ...           ...
2010-01-08      Friday   23.7837   24.2642   23.7608   24.0934  6.515561e+07
2010-01-07    Thursday   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-06   Wednesday   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-05     Tuesday   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-04      Monday   24.0854   24.4389   24.0358   24.3178  4.886916e+07

[2769 rows x 6 columns]

In [147]:
stocks.insert(1,'is month start',stocks.index.month_name())

In [148]:
stocks

,day of week,is month start,Open,High,Low,Close,Volume
Date,,,,,,,
2020-12-31,Thursday,December,217.8220,219.1040,215.8380,218.5280,2.131555e+07
2020-12-30,Wednesday,December,221.2770,221.6740,217.5950,217.8020,2.063381e+07
2020-12-29,Tuesday,December,222.3500,223.2140,219.6590,220.2050,1.771353e+07
2020-12-28,Monday,December,220.5040,222.0710,219.1230,221.0100,1.825327e+07
2020-12-24,Thursday,December,217.5450,219.6890,217.3260,218.8550,1.073870e+07
...,...,...,...,...,...,...,...
2010-01-08,Friday,January,23.7837,24.2642,23.7608,24.0934,6.515561e+07
2010-01-07,Thursday,January,24.0537,24.1232,23.7221,23.9257,6.434577e+07
2010-01-06,Wednesday,January,24.2642,24.4230,23.9852,24.1758,7.403254e+07
2010-01-05,Tuesday,January,24.2542,24.4389,24.0765,24.3267,6.331174e+07
2010-01-04,Monday,January,24.0854,24.4389,24.0358,24.3178,4.886916e+07

In [151]:
stocks['is month start']

Date
2020-12-31    December
2020-12-30    December
2020-12-29    December
2020-12-28    December
2020-12-24    December
                ...
2010-01-08     January
2010-01-07     January
2010-01-06     January
2010-01-05     January
2010-01-04     January
Name: is month start, Length: 2769, dtype: object

# pd.dateoffset object

In [153]:
stocks=data.DataReader(name='MSFT',data_source='stooq',start='2010-01-01',end='2020-12-31')
stocks.head(5)

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07
2020-12-28  220.504  222.071  219.123  221.010  1.825327e+07
2020-12-24  217.545  219.689  217.326  218.855  1.073870e+07

In [156]:
stocks.index + pd.DateOffset(days=5)
stocks.index - pd.DateOffset(days=5)

DatetimeIndex(['2020-12-26', '2020-12-25', '2020-12-24', '2020-12-23',
               '2020-12-19', '2020-12-18', '2020-12-17', '2020-12-16',
               '2020-12-13', '2020-12-12',
               ...
               '2010-01-10', '2010-01-09', '2010-01-08', '2010-01-07',
               '2010-01-06', '2010-01-03', '2010-01-02', '2010-01-01',
               '2009-12-31', '2009-12-30'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [161]:
stocks.index + pd.DateOffset(weeks=2)
stocks.index - pd.DateOffset(weeks=2)

stocks.index + pd.DateOffset(months=2)
stocks.index - pd.DateOffset(months=2)

stocks.index + pd.DateOffset(years=2)
stocks.index - pd.DateOffset(years=2)

stocks.index + pd.DateOffset(years=1,months=3,days=2,hours=2,minutes=5)
stocks.index - pd.DateOffset(years=1,months=3,days=2,hours=2,minutes=5)

DatetimeIndex(['2019-09-27 21:55:00', '2019-09-27 21:55:00',
               '2019-09-26 21:55:00', '2019-09-25 21:55:00',
               '2019-09-21 21:55:00', '2019-09-20 21:55:00',
               '2019-09-19 21:55:00', '2019-09-18 21:55:00',
               '2019-09-15 21:55:00', '2019-09-14 21:55:00',
               ...
               '2008-10-12 21:55:00', '2008-10-11 21:55:00',
               '2008-10-10 21:55:00', '2008-10-09 21:55:00',
               '2008-10-08 21:55:00', '2008-10-05 21:55:00',
               '2008-10-04 21:55:00', '2008-10-03 21:55:00',
               '2008-10-02 21:55:00', '2008-10-01 21:55:00'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

# timeseries offsets

In [162]:
stocks=data.DataReader(name='MSFT',data_source='stooq',start='2010-01-01',end='2020-12-31')
stocks.head(5)

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07
2020-12-28  220.504  222.071  219.123  221.010  1.825327e+07
2020-12-24  217.545  219.689  217.326  218.855  1.073870e+07

In [170]:
stocks.index + pd.tseries.offsets.MonthEnd()
stocks.index - pd.tseries.offsets.MonthEnd()

stocks.index + pd.tseries.offsets.MonthBegin()
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30',
               ...
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [171]:
from pandas.tseries import offsets

In [172]:
stocks.index + offsets.MonthEnd()

DatetimeIndex(['2021-01-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31',
               ...
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [175]:
stocks.index + offsets.BMonthEnd()
stocks.index - offsets.BMonthEnd()

DatetimeIndex(['2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30',
               ...
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [178]:
stocks.index + offsets.YearEnd()
stocks.index - offsets.YearEnd()

stocks.index + offsets.YearBegin()
stocks.index - offsets.YearBegin()

DatetimeIndex(['2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01',
               ...
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

# timedelta object

In [184]:
time_a=pd.Timestamp('2020-03-31 04:35:16pm')
time_b=pd.Timestamp('2020-03-20 02:15:49am')

time_a-time_b   #-- always keep future time first and past time second

Timedelta('11 days 14:19:27')

In [186]:
time_a + pd.Timedelta(days=3)

Timestamp('2020-04-03 16:35:16')

In [188]:
pd.Timedelta(weeks=2 ,days=3, hours=2 ,minutes=55, seconds=23)

Timedelta('17 days 02:55:23')

In [189]:
pd.Timedelta('5 minutes')

Timedelta('0 days 00:05:00')

In [190]:
pd.Timedelta('23days 8hours 5 minutes 56seconds')

Timedelta('23 days 08:05:56')

# timedeltas in a datasets

In [191]:
shipping=pd.read_csv('ecommerce.csv',index_col='ID', parse_dates=['order_date','delivery_date'])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [194]:
shipping['delivery time']=shipping['delivery_date'] -shipping['order_date']
shipping.head()

   order_date delivery_date delivery time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [199]:
shipping['twice as long']=shipping['delivery_date'] + shipping['delivery time']

In [201]:
shipping.head(3)

   order_date delivery_date delivery time twice as long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [202]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
delivery time    timedelta64[ns]
twice as long     datetime64[ns]
dtype: object

In [205]:
diff=shipping['delivery time'] > '365 days'
shipping[diff]

    order_date delivery_date delivery time twice as long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [207]:
shipping['delivery time'].max()

Timedelta('3583 days 00:00:00')